@charset "UTF-8";
/* Wrapper file for the wp editor style */
/* Imports match theme style.scss */
/*
	! avoid using rules here
*/
@font-face {
  font-family: "ShermanSerif";
  src: url("https://assets.syracuse.edu/fonts/shermanserif-book.woff2") format("woff2"), url("https://assets.syracuse.edu/fonts/shermanserif-book.woff") format("woff"), url("https://assets.syracuse.edu/fonts/shermanserif-book.eot") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0020-007F, U+00A9, U+00AE, U+2013-201D; }
@font-face {
  font-family: "ShermanSerif";
  src: url("https://assets.syracuse.edu/fonts/shermanserif-book-intl.woff2") format("woff2"), url("https://assets.syracuse.edu/fonts/shermanserif-book-intl.woff") format("woff"), url("https://assets.syracuse.edu/fonts/shermanserif-book-intl.eot") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+00A0-00A8, U+00C0-024F, U+201E-2026; }
/* Sherman Serif Book Italic */
@font-face {
  font-family: "ShermanSerif";
  src: url("https://assets.syracuse.edu/fonts/shermanserif-bookitalic.woff2") format("woff2"), url("https://assets.syracuse.edu/fonts/shermanserif-bookitalic.woff") format("woff"), url("https://assets.syracuse.edu/fonts/shermanserif-bookitalic.eot") format("embedded-opentype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
  unicode-range: U+0020-007F, U+00A9, U+00AE, U+2013-201D; }
@font-face {
  font-family: "ShermanSerif";
  src: url("https://assets.syracuse.edu/fonts/shermanserif-bookitalic-intl.woff2") format("woff2"), url("https://assets.syracuse.edu/fonts/shermanserif-bookitalic-intl.woff") format("woff"), url("https://assets.syracuse.edu/fonts/shermanserif-bookitalic-intl.eot") format("embedded-opentype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
  unicode-range: U+00A0-00A8, U+00C0-024F, U+201E-2026; }
/* Sherman Sans Book */
@font-face {
  font-family: "ShermanSans";
  src: url("https://assets.syracuse.edu/fonts/shermansans-book.woff2") format("woff2"), url("https://assets.syracuse.edu/fonts/shermansans-book.woff") format("woff"), url("https://assets.syracuse.edu/fonts/shermansans-book.eot") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0020-007F, U+00A9, U+00AE, U+2013-201D; }
@font-face {
  font-family: "ShermanSans";
  src: url("https://assets.syracuse.edu/fonts/shermansans-book-intl.woff2") format("woff2"), url("https://assets.syracuse.edu/fonts/shermansans-book-intl.woff") format("woff"), url("https://assets.syracuse.edu/fonts/shermansans-book-intl.eot") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+00A0-00A8, U+00C0-024F, U+201E-2026; }
/* Sherman Sans Book Italic */
@font-face {
  font-family: "ShermanSans";
  src: url("https://assets.syracuse.edu/fonts/shermansans-bookitalic.woff2") format("woff2"), url("https://assets.syracuse.edu/fonts/shermansans-bookitalic.woff") format("woff"), url("https://assets.syracuse.edu/fonts/shermansans-bookitalic.eot") format("embedded-opentype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
  unicode-range: U+0020-007F, U+00A9, U+00AE, U+2013-201D; }
@font-face {
  font-family: "ShermanSans";
  src: url("https://assets.syracuse.edu/fonts/shermansans-bookitalic-intl.woff2") format("woff2"), url("https://assets.syracuse.edu/fonts/shermansans-bookitalic-intl.woff") format("woff"), url("https://assets.syracuse.edu/fonts/shermansans-bookitalic-intl.eot") format("embedded-opentype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
  unicode-range: U+00A0-00A8, U+00C0-024F, U+201E-2026; }
/* Sherman Sans Bold */
@font-face {
  font-family: "ShermanSans";
  src: url("https://assets.syracuse.edu/fonts/shermansans-bold.woff2") format("woff2"), url("https://assets.syracuse.edu/fonts/shermansans-bold.woff") format("woff"), url("https://assets.syracuse.edu/fonts/shermansans-bold.eot") format("embedded-opentype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0020-007F, U+00A9, U+00AE, U+2013-201D; }
@font-face {
  font-family: "ShermanSans";
  src: url("https://assets.syracuse.edu/fonts/shermansans-bold-intl.woff2") format("woff2"), url("https://assets.syracuse.edu/fonts/shermansans-bold-intl.woff") format("woff"), url("https://assets.syracuse.edu/fonts/shermansans-bold-intl.eot") format("embedded-opentype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  unicode-range: U+00A0-00A8, U+00C0-024F, U+201E-2026; }
/* Sherman Sans Bold Italic */
@font-face {
  font-family: "ShermanSans";
  src: url("https://assets.syracuse.edu/fonts/shermansans-bolditalic.woff2") format("woff2"), url("https://assets.syracuse.edu/fonts/shermansans-bolditalic.woff") format("woff"), url("https://assets.syracuse.edu/fonts/shermansans-bolditalic.eot") format("embedded-opentype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
  unicode-range: U+0020-007F, U+00A9, U+00AE, U+2013-201D; }
@font-face {
  font-family: "ShermanSans";
  src: url("https://assets.syracuse.edu/fonts/shermansans-bolditalic-intl.woff2") format("woff2"), url("https://assets.syracuse.edu/fonts/shermansans-bolditalic-intl.woff") format("woff"), url("https://assets.syracuse.edu/fonts/shermansans-bolditalic-intl.eot") format("embedded-opentype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
  unicode-range: U+00A0-00A8, U+00C0-024F, U+201E-2026; }
@media (max-width: 37.5em) {
  html {
    font-size: .9em; } }
@media (min-width: 37.5em) {
  html {
    font-size: 1em; } }
@media (min-width: 64em) {
  html {
    font-size: 1.1em; } }
@media (min-width: 80em) {
  html {
    font-size: 1.2em; } }

h1, h2, h3, h4, h5, h6 {
  line-height: 1.25;
  margin-bottom: 1rem;
  color: #000;
  background-color: inherit; }
  h1.is-style-section, h2.is-style-section, h3.is-style-section, h4.is-style-section, h5.is-style-section, h6.is-style-section {
    color: #D44500; }

h1, h2 {
  font-family: "ShermanSerif", Georgia, serif; }

h3, h4, h5, h6 {
  font-family: "ShermanSans", "Trebuchet MS", Tahoma, sans-serif; }

p {
  color: #000;
  background-color: inherit; }

/* Headings */
h1 {
  font-weight: 300;
  font-size: 2rem; }
  @media (min-width: 37.5em) {
    h1 {
      font-size: 2.5rem; } }
  @media (min-width: 64em) {
    h1 {
      font-size: 3rem; } }

h2 {
  font-weight: normal;
  font-size: 1.2rem; }
  @media (min-width: 37.5em) {
    h2 {
      font-size: 1.7rem; } }
  @media (min-width: 64em) {
    h2 {
      font-size: 2rem; } }

h3 {
  font-weight: bold;
  font-size: 1.1rem;
  margin-top: 2rem; }
  @media (min-width: 37.5em) {
    h3 {
      font-size: 1.2rem; } }
  @media (min-width: 64em) {
    h3 {
      font-size: 1.3rem; } }
  h3.section-label {
    color: #D44500; }

h4 {
  font-size: 1rem;
  font-weight: bold;
  margin-top: 1rem; }

h5 {
  font-size: 0.85rem;
  font-weight: normal;
  font-style: italic;
  margin-top: 1rem; }
  h5.editors-note {
    background-color: #e8eaeb;
    padding: 2rem; }

h6 {
  font-size: 0.6rem;
  font-weight: normal; }

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "ShermanSans", "Trebuchet MS", Tahoma, sans-serif;
  font-size: 1rem; }

strong {
  font-weight: bold; }

blockquote,
q {
  position: relative;
  margin: 1.5rem;
  font-size: 1.2rem;
  line-height: 1.333;
  font-style: italic;
  border-top: 1px solid #D44500;
  border-left: unset;
  quotes: "“" "”" "‘" "’";
  padding: 1rem 2rem 1rem 2.5rem;
  clear: both; }
  blockquote:before,
  q:before {
    color: #D44500;
    content: '';
    background-image: url("../img/quote-left-solid.svg");
    background-repeat: no-repeat;
    width: 3.5ch;
    height: 2rem;
    position: absolute;
    top: -1rem;
    left: 0;
    background-color: white; }
  blockquote p,
  q p {
    font-style: inherit; }

p {
  max-width: 100%;
  margin: 0 auto;
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.4;
  text-align: left;
  word-break: break-word;
  min-width: 20ch;
  color: inherit; }
  p:before {
    content: "";
    width: 10em;
    display: block;
    overflow: hidden; }
  p.aligncenter {
    text-align: center; }

.timestamp,
.disclaimer {
  font-size: .85rem;
  font-style: italic;
  color: #6c757d; }

#main-content {
  /*
  li:not(.blocks-gallery-item){
  	font-size: 1rem;
  	line-height: 1.4;
  	padding-left: .5rem;
  	font-weight: normal;
  	margin: .5rem 0;
  }
  */
  /*a:not(.btn){
  	text-decoration: none;
  	color:$color__secondary;
  	background-color: inherit;
  	cursor: pointer;
  
  	&:hover,
  	&:focus,
  	&:active{
  		text-decoration: underline;
  		color:$color__primary;
  	}
  }*/ }
  #main-content ul:not(.wp-block-gallery):not(.nav-list) {
    padding: 0.5rem 1rem; }
    #main-content ul:not(.wp-block-gallery):not(.nav-list) li {
      position: relative; }
      #main-content ul:not(.wp-block-gallery):not(.nav-list) li:before {
        width: 0.5rem;
        height: 1rem;
        content: "";
        position: absolute;
        top: 5px;
        left: -12px;
        background-image: url("../img/angle-right-solid.svg");
        background-repeat: no-repeat; }
  #main-content ol {
    list-style-type: decimal; }
    #main-content ol li {
      margin: 0.5rem 0 0.5rem 1rem; }
      #main-content ol li h4 {
        margin: 0;
        padding-top: 0.4rem;
        margin-bottom: 0.5rem;
        font-size: 1rem; }

p.intro {
  font-size: 1.2rem;
  line-height: 1.6rem; }

/* Text colors */
.has-white-color {
  color: #fff; }

.has-orange-color {
  color: #D44500; }

.has-orange-light-color {
  color: #e54d00; }

.has-orange-dark-color {
  color: #a93700; }

.has-blue-color {
  color: #618DAF; }

.has-blue-light-color {
  color: #6cbaff; }

.has-blue-dark-color {
  color: #2e567e; }

.has-gray-dark-color {
  color: #4d4d4d; }

.has-black-color {
  color: #000; }

/* background colors */
.has-white-background-color {
  background-color: #fff; }

.has-orange-background-color {
  background-color: #D44500; }

.has-orange-light-background-color {
  background-color: #e54d00; }

.has-orange-dark-background-color {
  background-color: #a93700; }

.has-blue-background-color {
  background-color: #618DAF; }

.has-blue-light-background-color {
  background-color: #6cbaff; }

.has-blue-dark-background-color {
  background-color: #2e567e; }

.has-gray-dark-background-color {
  background-color: #4d4d4d; }

.has-black-background-color {
  background-color: #000; }

/* Alignments */
/* Scroll bars screw up vw units*/
.alignfull {
  margin: 1rem calc(50% - calc(calc(100vw - 20px) / 2));
  width: calc(100vw - 20px);
  max-width: calc(100vw - 20px); }

.alignwide {
  margin: 1rem calc(calc(50% - calc(calc(100vw - 20px) / 2))/2);
  width: calc(100% - calc(50% - calc(calc(100vw - 20px) / 2)));
  max-width: calc(100% - calc(50% - calc(calc(100vw - 20px) / 2))); }

/*
li:not(.blocks-gallery-item){
	font-size: 1rem;
	line-height: 1.4;
	padding-left: .5rem;
	font-weight: normal;
	margin: .5rem 0;
}
*/
ul:not(.wp-block-gallery):not(.nav-list) {
  padding: 0.5rem 1rem; }
  ul:not(.wp-block-gallery):not(.nav-list) li {
    position: relative; }
    ul:not(.wp-block-gallery):not(.nav-list) li:before {
      width: 0.5rem;
      height: 1rem;
      content: "";
      position: absolute;
      top: 5px;
      left: -12px;
      background-image: url("../img/angle-right-solid.svg");
      background-repeat: no-repeat; }

ol {
  list-style-type: decimal; }
  ol li {
    margin: 0.5rem 0 0.5rem 1rem; }
    ol li h4 {
      margin: 0;
      padding-top: 0.4rem;
      margin-bottom: 0.5rem;
      font-size: 1rem; }

/*a:not(.btn){
	text-decoration: none;
	color:$color__secondary;
	background-color: inherit;
	cursor: pointer;

	&:hover,
	&:focus,
	&:active{
		text-decoration: underline;
		color:$color__primary;
	}
}*/
button.nh-btn,
.btn {
  display: inline-flex;
  padding: 1rem 1.25rem;
  font-weight: bold;
  font-family: "ShermanSans", "Trebuchet MS", Tahoma, sans-serif;
  border: 0;
  background-color: inherit;
  transition: all 0.5s;
  text-decoration: none;
  background-color: #6c757d;
  color: #fff; }
  button.nh-btn:hover, button.nh-btn:focus,
  .btn:hover,
  .btn:focus {
    background-color: #4d4d4d; }
  button.nh-btn:disabled,
  .btn:disabled {
    opacity: 0.4; }
  button.nh-btn:hover, button.nh-btn:focus,
  .btn:hover,
  .btn:focus {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1); }
  button.nh-btn.btn-primary,
  .btn.btn-primary {
    font-size: 1.2rem;
    line-height: 1.2rem; }
  button.nh-btn.btn-default,
  .btn.btn-default {
    font-size: 1rem;
    line-height: 1rem; }
  button.nh-btn.btn-small,
  .btn.btn-small {
    font-size: 0.75rem;
    line-height: 0.75rem;
    text-transform: uppercase; }
  button.nh-btn.btn-orange,
  .btn.btn-orange {
    background-color: #D44500;
    color: #fff; }
    button.nh-btn.btn-orange:hover, button.nh-btn.btn-orange:focus,
    .btn.btn-orange:hover,
    .btn.btn-orange:focus {
      background-color: #a93700; }
  button.nh-btn.btn-nhblue,
  .btn.btn-nhblue {
    background-color: #618DAF;
    color: #fff; }
    button.nh-btn.btn-nhblue:hover, button.nh-btn.btn-nhblue:focus,
    .btn.btn-nhblue:hover,
    .btn.btn-nhblue:focus {
      background-color: #2e567e; }
  button.nh-btn.is-style-outline, button.nh-btn.btn-outline-default,
  .btn.is-style-outline,
  .btn.btn-outline-default {
    border: 1px solid #6c757d;
    color: #6c757d;
    background-color: #fff; }
    button.nh-btn.is-style-outline:hover, button.nh-btn.is-style-outline:focus, button.nh-btn.btn-outline-default:hover, button.nh-btn.btn-outline-default:focus,
    .btn.is-style-outline:hover,
    .btn.is-style-outline:focus,
    .btn.btn-outline-default:hover,
    .btn.btn-outline-default:focus {
      background-color: #6c757d;
      color: #fff; }
  button.nh-btn.btn-outline-orange,
  .btn.btn-outline-orange {
    border: 1px solid #D44500;
    color: #D44500;
    background-color: #fff; }
    button.nh-btn.btn-outline-orange:hover, button.nh-btn.btn-outline-orange:focus,
    .btn.btn-outline-orange:hover,
    .btn.btn-outline-orange:focus {
      background-color: #D44500;
      color: #fff; }
  button.nh-btn.btn-outline-nhblue,
  .btn.btn-outline-nhblue {
    border: 1px solid #618DAF;
    color: #618DAF;
    background-color: #fff; }
    button.nh-btn.btn-outline-nhblue:hover, button.nh-btn.btn-outline-nhblue:focus,
    .btn.btn-outline-nhblue:hover,
    .btn.btn-outline-nhblue:focus {
      background-color: #618DAF;
      color: #fff; }
  button.nh-btn.btn-outline-white,
  .btn.btn-outline-white {
    border: 1px solid #fff;
    color: #fff; }
    button.nh-btn.btn-outline-white:hover, button.nh-btn.btn-outline-white:focus,
    .btn.btn-outline-white:hover,
    .btn.btn-outline-white:focus {
      background-color: #fff;
      color: #000; }
  button.nh-btn.btn-outline-black,
  .btn.btn-outline-black {
    border: 1px solid #000;
    color: #000; }
    button.nh-btn.btn-outline-black:hover, button.nh-btn.btn-outline-black:focus,
    .btn.btn-outline-black:hover,
    .btn.btn-outline-black:focus {
      background-color: #000;
      color: #fff; }
  button.nh-btn.is-style-pill, button.nh-btn.is-style-pill-outline, button.nh-btn.btn-pill,
  .btn.is-style-pill,
  .btn.is-style-pill-outline,
  .btn.btn-pill {
    border-radius: 3.2rem;
    padding: 1rem 3rem;
    text-align: center; }
  button.nh-btn svg,
  .btn svg {
    fill: currentColor; }

.social-links {
  display: flex;
  align-content: center;
  height: 100%;
  align-self: center; }
  .social-links li {
    font-size: unset; }

.social-link {
  padding: .25rem;
  margin-left: 1.5ch;
  display: block; }
  .social-link:last-of-type {
    padding-right: 0; }
  .social-link:hover, .social-link:focus {
    color: #D44500; }
  .social-link .social-links-icons {
    font-size: 1.75rem;
    width: unset;
    height: unset; }

.modal {
  position: fixed;
  top: 4rem;
  left: 0;
  width: 100vw;
  min-height: 100vh;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .modal .logo {
    max-width: 250px; }
  .modal.hidden {
    height: 0;
    width: 0;
    display: none; }
  .modal .modal-content {
    z-index: 110;
    background-color: #618DAF;
    color: #fff;
    position: relative;
    min-width: 95vw;
    min-height: calc(95vh - 4rem);
    padding: calc(1.5ch * 4);
    display: flex;
    flex-direction: column;
    align-items: center; }
  .modal .modal-close {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    font-size: 2.5rem;
    font-weight: 100;
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    cursor: pointer;
    border: 1px solid #6c757d; }
    .modal .modal-close:hover, .modal .modal-close:focus {
      color: #000;
      background-color: #fff; }
  .modal .modal-overlay {
    content: "";
    display: block;
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.85); }

#search-modal {
  min-width: 100%;
  border-bottom: 1px solid #fff;
  display: flex;
  justify-content: center;
  padding: calc(2 * 1rem);
  position: relative; }
  #search-modal input[type='search'] {
    max-width: 40ch;
    padding-left: 4ch; }
  #search-modal .search-button {
    font-size: 1rem;
    line-height: 1.5;
    display: block;
    background-color: unset;
    color: #6c757d;
    margin: unset;
    padding: unset;
    position: absolute;
    top: calc(2 * 1rem + .5rem);
    left: calc(50% - 22ch);
    cursor: pointer; }

#guide-modal {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-content: center; }
  #guide-modal button {
    margin: 2rem auto; }

#main-site-nav {
  min-width: 25ch;
  max-width: 80%;
  flex-grow: 1; }
  #main-site-nav .menu-item {
    font-weight: bold; }

#site-nav {
  width: 100%; }

ul.nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  /*&.with-sub-nav {
  	align-items: flex-start;
  	font-size: 1.25rem;
  	font-weight: bold;
  	ul .menu-item {
  		font-size: 1rem;
  		font-weight: normal;
  	}
  }*/ }
  @media (min-width: 37.5em) {
    ul.nav-list {
      flex-direction: row; } }
  ul.nav-list li.menu-item {
    border-bottom: 4px solid #fff;
    width: 100%;
    text-align: center; }
    @media (min-width: 37.5em) {
      ul.nav-list li.menu-item {
        width: auto; } }
    ul.nav-list li.menu-item a {
      padding: 0.75rem;
      min-width: 100%;
      display: block;
      color: inherit;
      text-decoration: none;
      font-weight: bold;
      color: #6c757d; }
      ul.nav-list li.menu-item a:hover, ul.nav-list li.menu-item a:focus {
        color: #fff;
        background-color: #D44500; }
    ul.nav-list li.menu-item.active {
      border-bottom: 4px solid #D44500; }
      ul.nav-list li.menu-item.active a {
        color: #000; }
    ul.nav-list li.menu-item:hover {
      border-bottom: 4px solid #D44500; }
      ul.nav-list li.menu-item:hover a {
        color: #fff; }
  ul.nav-list.nav-list-primary {
    display: none; }
    @media (min-width: 37.5em) {
      ul.nav-list.nav-list-primary {
        display: block; } }
  ul.nav-list.nav-list-secondary {
    border-bottom: 1px solid #6c757d;
    margin-bottom: 1rem; }

.sub-menu {
  margin-top: 1rem;
  flex-direction: column; }
  .sub-menu.active {
    display: flex;
    color: #000; }

#site-footer-nav {
  text-align: left;
  flex-grow: 1; }

#action-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

#action-bar {
  display: flex;
  width: 100%;
  min-height: 4rem; }

.action-item {
  max-width: 33.33%;
  flex-grow: 1;
  text-align: center;
  border: 1px solid gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

#featured-media-container {
  width: 100vw;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  min-height: 66vh;
  margin-bottom: 1rem;
  background-color: #6c757d; }
  #featured-media-container .media-container {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0;
    left: 0;
    z-index: 1; }
    #featured-media-container .media-container img {
      width: 100%;
      height: auto; }
    #featured-media-container .media-container:after {
      display: block;
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba(45, 45, 45, 0.5);
      z-index: 7; }
  #featured-media-container .content-container {
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    max-width: 80ch;
    text-align: center; }
    #featured-media-container .content-container .content-title,
    #featured-media-container .content-container .excerpt {
      color: inherit; }

.featured-img-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%; }
  .featured-img-container img {
    width: 100%;
    height: auto; }
  .featured-img-container:after {
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(45, 45, 45, 0.5);
    z-index: 7; }

.blog-card {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
  border-bottom: 1px solid #6c757d; }
  .blog-card .btn {
    align-self: flex-start; }

.byline-container {
  display: flex;
  padding: .5rem 0; }
  .byline-container .profile-img-container {
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 1.5ch; }
    .byline-container .profile-img-container img {
      position: absolute;
      top: 0;
      left: 0;
      min-width: 100%;
      width: auto;
      min-height: 100%;
      height: auto; }
  .byline-container .person-info {
    display: flex;
    flex-direction: column; }
    .byline-container .person-info .person-name {
      margin-bottom: .5rem; }

form {
  font-family: "ShermanSans", "Trebuchet MS", Tahoma, sans-serif; }
  form .form-group {
    margin-bottom: 2rem; }
    @media (min-width: 37.5em) {
      form .form-group.form-row {
        display: flex; } }
    form .form-group.form-row .form-col {
      width: 100%;
      margin-right: 1rem; }
      form .form-group.form-row .form-col:last-child {
        margin-right: 0; }
    @media (min-width: 37.5em) {
      form .form-group .form-radio-group {
        display: flex; } }
    form .form-group .form-radio-group .form-radio-item {
      margin-right: 2rem; }
      form .form-group .form-radio-group .form-radio-item .form-radio-label {
        display: inline; }
      form .form-group .form-radio-group .form-radio-item .form-radio-input {
        display: inline;
        margin-right: 0.5rem; }
        form .form-group .form-radio-group .form-radio-item .form-radio-input:disabled {
          opacity: 0.5; }
          form .form-group .form-radio-group .form-radio-item .form-radio-input:disabled ~ .form-radio-label {
            color: #e8eaeb; }
    @media (min-width: 37.5em) {
      form .form-group .form-checkbox-group {
        display: flex; } }
    form .form-group .form-checkbox-group .form-checkbox-item {
      margin-right: 2rem; }
      form .form-group .form-checkbox-group .form-checkbox-item .form-checkbox-input {
        display: inline;
        margin-right: 0.5rem; }
        form .form-group .form-checkbox-group .form-checkbox-item .form-checkbox-input:disabled {
          opacity: 0.5; }
          form .form-group .form-checkbox-group .form-checkbox-item .form-checkbox-input:disabled ~ .form-checkbox-label {
            color: #e8eaeb; }
      form .form-group .form-checkbox-group .form-checkbox-item .form-checkbox-label {
        display: inline; }
    form .form-group .form-select {
      width: 100%;
      padding: 0.375rem 1.75rem 0.375rem 0.75rem;
      font-size: 1.2rem;
      display: block; }
    form .form-group label {
      display: block;
      margin-top: 1rem;
      margin-bottom: 0.5rem;
      font-size: 0.8rem;
      font-weight: bold; }
    form .form-group .form-input-field {
      width: 100%;
      display: block;
      background-color: #fff;
      color: #000;
      padding: 1rem;
      box-sizing: border-box;
      border: 1px solid #e8eaeb;
      border-radius: 3.2rem; }
    form .form-group .form-textarea {
      width: 100%;
      display: block;
      background-color: #fff;
      color: #000;
      padding: 1rem;
      box-sizing: border-box; }

input[type="text"],
input[type="search"] {
  width: 100%;
  display: block;
  background-color: #fff;
  color: #000;
  font-family: "ShermanSans", "Trebuchet MS", Tahoma, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  padding: .25rem 1rem;
  border: 1px solid #e8eaeb;
  border-radius: 3.2rem; }

.slider {
  background-color: green;
  padding: 1rem 0; }
  .slider h2 {
    text-align: center; }
  .slider .slider-container {
    position: relative;
    width: 1200px;
    height: 500px;
    margin: 0 auto; }
    .slider .slider-container .control {
      position: absolute;
      top: 50%;
      width: 4rem;
      height: 4rem;
      margin-top: -2rem;
      background-color: red;
      color: #fff;
      cursor: pointer;
      transition: all 0.5s;
      z-index: 10; }
      .slider .slider-container .control.control-prev {
        left: -2rem; }
      .slider .slider-container .control.control-next {
        right: -2rem; }
      .slider .slider-container .control:hover {
        background-color: maroon; }
    .slider .slider-container .slider-crop {
      background-color: aqua;
      width: 100%;
      height: 100%;
      overflow: hidden; }
      .slider .slider-container .slider-crop .slider-row {
        position: relative;
        top: 0;
        left: 0;
        background-color: limegreen;
        height: 100%;
        width: 100%;
        overflow-x: auto;
        transition: all 0.5s;
        display: flex; }
        .slider .slider-container .slider-crop .slider-row .slide {
          height: 100%;
          background-color: pink;
          padding: 1rem;
          box-sizing: border-box;
          margin-right: 0.5rem;
          margin-left: 0.5rem; }
          .slider .slider-container .slider-crop .slider-row .slide img {
            width: 100%;
            height: auto; }
          .slider .slider-container .slider-crop .slider-row .slide h3 {
            margin: 0; }

.content-feed {
  display: flex;
  padding-bottom: 1rem;
  flex-wrap: wrap; }
  .content-feed.grid {
    flex-wrap: wrap;
    justify-content: center; }
    .content-feed.grid .card {
      max-width: 33.33%;
      min-width: 33.33%;
      padding: 1rem; }
  .content-feed.list {
    font-size: 1rem;
    max-width: 100%;
    padding: 0 1.5ch 1rem;
    flex-direction: column;
    align-content: center; }
    @media (min-width: 37.5em) {
      .content-feed.list {
        padding: 0 calc(calc(100% - 70ch)/2) 1rem; } }
    @media (min-width: 64em) {
      .content-feed.list {
        padding: 0 calc(calc(100% - 80ch)/2) 1rem; } }
    .content-feed.list .card {
      min-width: 100%;
      max-width: 80ch; }
  .content-feed.instagram-feed {
    padding-bottom: 0; }
    .content-feed.instagram-feed .media-card,
    .content-feed.instagram-feed .info-card {
      min-width: 25%;
      max-width: 25%; }
    .content-feed.instagram-feed .media-card {
      /*
      position: absolute;
      padding: 1rem;
      bottom: 0;
      left: 0;
      width: 100%;
      height: auto;
      color: $color__white;
      background: $color__overlay_dark;
      */ }
      .content-feed.instagram-feed .media-card .caption {
        padding: 0;
        height: 0;
        transition: height 0.5s; }
      .content-feed.instagram-feed .media-card:hover .caption, .content-feed.instagram-feed .media-card:focus .caption {
        padding: 1rem;
        bottom: 0;
        left: 0;
        width: 100%;
        height: auto;
        color: #fff;
        background: rgba(0, 0, 0, 0.85); }
  .content-feed.twitter-feed {
    display: flex;
    height: 600px; }
    .content-feed.twitter-feed .feed-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      background-color: #6cbaff;
      color: #fff;
      max-width: 25%;
      height: 100%;
      text-align: center;
      padding: 1rem 1.5ch; }
      .content-feed.twitter-feed .feed-info .feed-title {
        color: inherit; }
      .content-feed.twitter-feed .feed-info .btn {
        background-color: inherit;
        display: block;
        text-align: center; }
        .content-feed.twitter-feed .feed-info .btn:focus, .content-feed.twitter-feed .feed-info .btn:hover {
          color: #6cbaff;
          background-color: #fff; }
    .content-feed.twitter-feed .tweet-feed {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      flex: 1; }
    .content-feed.twitter-feed .tweet {
      display: flex;
      min-height: 25%;
      max-width: 45%;
      align-content: center;
      padding: 1rem; }
      .content-feed.twitter-feed .tweet .logo {
        min-width: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0.5rem; }
        .content-feed.twitter-feed .tweet .logo .logo-container {
          min-width: 48px;
          min-height: 48px;
          border-radius: 50%;
          overflow: hidden; }
        .content-feed.twitter-feed .tweet .logo img {
          width: 100%;
          height: auto; }
      .content-feed.twitter-feed .tweet .tweet-info {
        display: flex;
        flex-direction: column;
        padding: 0.5rem; }
      .content-feed.twitter-feed .tweet .user {
        display: flex;
        justify-content: flex-start; }
        .content-feed.twitter-feed .tweet .user .user-name {
          font-weight: 600; }
        .content-feed.twitter-feed .tweet .user .user-handle {
          color: #6c757d;
          margin-left: 1.5ch; }
        .content-feed.twitter-feed .tweet .user .created-on {
          margin-left: 1.5ch; }
      .content-feed.twitter-feed .tweet .tweet-content {
        font-size: 0.95rem;
        line-height: 1.25;
        margin: 1rem 0; }
  .content-feed .card {
    display: flex;
    flex-direction: column;
    padding: 1rem 0; }
    .content-feed .card .card-image-container {
      position: relative;
      width: 100%;
      padding-top: 100%;
      overflow: hidden; }
      .content-feed .card .card-image-container img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
        min-height: 100%; }
    .content-feed .card .card-body-container {
      padding: 1rem 1.5ch; }
    .content-feed .card.row {
      flex-direction: row; }
      .content-feed .card.row .card-image-container {
        max-width: 40%;
        padding-top: 40%; }
    .content-feed .card.column {
      flex-direction: column; }
  .content-feed .info-card {
    text-align: center;
    padding: 2rem;
    color: #fff;
    background: purple;
    min-width: 33.33%;
    justify-content: center;
    align-items: center; }
    .content-feed .info-card .card-title {
      color: inherit; }
    .content-feed .info-card .btn {
      background-color: inherit;
      display: block;
      text-align: center; }
      .content-feed .info-card .btn:focus, .content-feed .info-card .btn:hover {
        color: purple;
        background-color: #fff; }
  .content-feed .media-card {
    position: relative;
    min-width: 33.33%; }
    .content-feed .media-card .card-img-container {
      position: relative;
      padding-top: 100%;
      width: 100%;
      height: 100%;
      overflow: hidden; }
      .content-feed .media-card .card-img-container img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
        min-height: 100%; }
    .content-feed .media-card .caption {
      position: absolute;
      padding: 1rem;
      bottom: 0;
      left: 0;
      width: 100%;
      height: auto;
      color: #fff;
      background: rgba(0, 0, 0, 0.85);
      font-size: 0.8rem; }

.person-profile .profile-img-container {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto; }
.person-profile .form-section {
  display: flex;
  flex-direction: column;
  align-content: center; }
.person-profile .form-row {
  display: flex;
  justify-content: space-between; }
.person-profile .components-base-control {
  margin: .25rem .5rem;
  label-color: #6c757d; }

/* Alignments on the back end are handled via data-attributes */
/*
	* This needs to match
	.alignfull {
		@include full-width;
	}

	.alignwide {
		@include wide-width;
	}
*/
.wp-block {
  margin: 0 auto;
  max-width: 70ch; }
  .wp-block[data-type="newhouse/hero"] {
    z-index: 0; }

.block-editor-block-list__layout
.block-editor-block-list__block[data-align="full"] {
  margin: 1rem calc(50% - calc(calc(100vw - 20px) / 2));
  width: calc(100vw - 20px);
  max-width: calc(100vw - 20px); }

.block-editor-block-list__layout
.block-editor-block-list__block[data-align="wide"] {
  margin: 1rem calc(calc(50% - calc(calc(100vw - 20px) / 2))/2);
  width: calc(100% - calc(50% - calc(calc(100vw - 20px) / 2)));
  max-width: calc(100% - calc(50% - calc(calc(100vw - 20px) / 2))); }

/* Main column width */

/*# sourceMappingURL=global-editor.css.map */
