/* Wrapper file for the wp editor style */
/* Imports match theme style.scss */
/*
	! avoid using rules here
*/
// Imports should include: variables, functions, mixins, typography, base atoms and components.
// Not included are site layout and components that are only displayed on the front end

//! reset breaks the editor toolbars
// @import "../sass/base/reset";
@import "abstracts/functions";
@import "abstracts/variables/variables";
@import "abstracts/mixins";

@import "base/typography/typography";
@import "base/gutenberg-classes";
@import "base/typography/lists";
@import "base/typography/links";
@import "components/components";
// @import "../sass/components/button";
// }

// Wordpress hacks
/* Alignments on the back end are handled via data-attributes */
/*
	* This needs to match
	.alignfull {
		@include full-width;
	}

	.alignwide {
		@include wide-width;
	}
*/
.wp-block {
	margin: 0 auto;
	max-width: 70ch;
	&[data-type="newhouse/hero"] {
		z-index: 0;
	}
}

.block-editor-block-list__layout
	.block-editor-block-list__block[data-align="full"] {
	@include full-width;
}

.block-editor-block-list__layout
	.block-editor-block-list__block[data-align="wide"] {
	@include wide-width;
}

// .block-editor-media-placeholder{
// 	display: flex;
// 	flex-direction: column;
// 	justify-content: center;
// }

// .edit-image-preview{
// 	min-width:80%;
// }

// .components-placeholder__fieldset{
// 	display:flex;
// }
/* Main column width */
