// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------

@mixin font-size($sizeValue: 1) {
    font-size: ($sizeValue * 16) * 1px;
    font-size: $sizeValue * 1rem;
}

@mixin clearfix(){
    &:after{
        content:"";
        display:block;
        clear:both;
    }
}

@mixin breakpoint($value) {
	// need to validate $value

	// if a string use standard breakpoints
	@if type-of($value) == 'string' {
		@if ($value == "xs" or $value == "phone") {
			@media(max-width: $tablet__width){
				@content;
			}
		}
		@else if ($value == "sm" or $value == "tablet") {
			@media(min-width: $tablet__width){
				@content;
			}
		}

		@else if ($value == "md" or $value == "laptop") {
			@media(min-width: $laptop__width){
				@content;
			}
		}
		@else if($value == "lg" or $value == "desktop") {
			@media(min-width: $desktop__width){
				@content;
			}
		}

		@else {
			@warn "Breakpoint mixin supports: xs or phone, sm or tablet, md or laptop, lg or desktop as string variables";
		}

	} 
	// if value then use value as minimum width.
	@else if is-length($value){
		@media(min-width: #{$value}){
			@content;
		}
	}

	@else {
		@warn "Breakpoint mixin supports: string variables or relative units";
	}
	// if a length value than use that

	// error warn if string does not match or it is not a length
	
}

//toggles

@mixin v-collapse{
	&.collapse{
		height: 0;
		min-height: unset;
		max-height: 0;
		overflow:hidden;
		padding:0;
		font-size: 0;
		line-height: 0;
	}
}

@mixin h-collapse{
	&.collapse{
		width: 0;
		min-width: unset;
		max-width: 0;
		overflow:hidden;
		padding:0;
	}
}

//Overlay
@mixin full-overlay($color) {
	&:after{
		content: "";
		display: block;
		position: fixed;
		z-index: -1;
		top:0;
		left:0;
		width:100vw;
		height:100vh;
		background-color: $color;
	}
}




// For use with written content. Based on HTML font-size and content width, not screen size
@mixin flexss-content{
	font-size: 1rem;
	max-width: 100%;
	padding: 0 $h-rhythm $v-rhythm;

	@include breakpoint('sm'){
		// max-width: 35em;
		// max-width: 70ch;
		padding: 0 calc(calc(100% - 70ch)/2) $v-rhythm;
		// padding-right:0;
	}

	@include breakpoint('md'){
		// max-width: 40em;
		// max-width: 80ch;
		padding: 0 calc(calc(100% - 80ch)/2) $v-rhythm;
	}

	&.alignfull {
		@include full-width;
	  }
	  
	&.alignwide {
		@include wide-width;
	}
}

@mixin full-width{
	margin: $v-rhythm $content-margin;
	width: $window-width;
	max-width: $window-width;
}

@mixin wide-width{
	margin: $v-rhythm $content-half-margin;
	// ! Margin is a negative value so we subtract in order to add it back in!
	width: calc(100% - #{$content-margin});
	max-width: calc(100% - #{$content-margin});
}

/// Mixins by others
/// Event wrapper
/// @author Harry Roberts
/// @param {Bool} $self [false] - Whether or not to include current selector
/// @link https://twitter.com/csswizardry/status/478938530342006784 Original tweet from Harry Roberts
@mixin on-event($self: false) {
	@if $self {
	  &,
	  &:hover,
	  &:active,
	  &:focus {
		@content;
	  }
	} @else {
	  &:hover,
	  &:active,
	  &:focus {
		@content;
	  }
	}
  }