#site-footer {
	background-color:$color__newhouse_blue-dark;
	color: $color__secondary-comp;	
	padding: calc(#{$h-rhythm} * 4);

	text-align:center;

	.footer-title{
		color: inherit;
	}

	.footer-info{
		display: flex;
		justify-content: space-between;
	}

	.contact-info{
		display: flex;
		flex-direction: column;
		text-align: left;
		padding-top: 1rem;
		max-width: 30ch;
		margin-right: calc(2 * #{$h-rhythm});
	}

	address{
		font-size: .85rem;
		font-weight: normal;
		line-height: 1.35;
	}

	.address-title{
		@extend address;
		color: inherit;
		font-weight: bold;
		font-style: normal;
		margin-top: .5rem;
	}

	.telephone-link{
		@extend address;
		display: block;
		margin: .5rem 0;
		cursor: pointer;
	}

	.footer-branding{
		display:flex;
		justify-content: space-between;
		align-content: center;
	}
}