.app-header {
	width: 100%;
	height: $fixed-header-height;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99;
	display: flex;
	&:after {
		content:'';
		position: absolute;
		width: 100%;
		bottom: -46px;
		left: 0;
		// ! do we need prefixing
		// ref: https://github.com/postcss/autoprefixer/issues/854
		/* -webkit-background-image: radial-gradient(closest-side, rgba(0,0,0,0.6) 0, rgba(0,0,0,0.2) 50%, transparent 100%);
		-moz-background-image: radial-gradient(closest-side, rgba(0,0,0,0.6) 0, rgba(0,0,0,0.2) 50%, transparent 100%);
		-ms-background-image: radial-gradient(closest-side, rgba(0,0,0,0.6) 0, rgba(0,0,0,0.2) 50%, transparent 100%);
		-o-background-image: radial-gradient(closest-side, rgba(0,0,0,0.6) 0, rgba(0,0,0,0.2) 50%, transparent 100%); */
		background-image: radial-gradient(closest-side, rgba(0,0,0,0.6) 0, rgba(0,0,0,0.2) 50%, transparent 100%);
		background-position: 0% -25px;
		background-repeat: no-repeat;
		height: 46px;
		overflow: hidden;
		pointer-events: none;
	}
	.app-header-btn {
		width: 3rem;
		height: 5rem;
		background-color: $color__newhouse_orange;
		color: $color__white;
		transition: all .5s;
		cursor: pointer;
		.dashicons {
			font-size: 1.5rem;
			transition: all .5s;
			width: auto;
			height: auto;
		}
		&:hover, &:focus {
			background-color: $color__newhouse_orange-dark;
			.dashicons {
				font-size: 1.7rem;
			}
		}
	}
	.app-header-middle {
		min-width: calc(100% - 3rem);
		background-color: $color__white;
		display: flex;
		align-items: center;
		justify-content: space-between;
		.logo-link {
			width: auto;
			height: 3rem;
			margin-left: 1rem;
			display: block;
			.logo {
				width: auto;
				height: 3rem;
			}
			@include breakpoint(sm) {
				width: 300px;
				height: auto;
				.logo {
					width: 300px;
					height: auto;
				}
			}
		}
		#primary-nav {
			padding-right: 4rem;
			display: none;
			@include breakpoint(md) {
				display: flex;
			}
		}	
	}
	.app-header-right {
		position: absolute;
		top: 0;
		right: 0;
		width: 3rem;
		background-color: $color__newhouse_orange;
		transition: all .5s;
		display: flex;
		align-items: center;
		.search-form-block-container {
			width: 100%;
		}
		/* Toggles should be handled with state or props */
		// .search-form-block-container, #closeSearchBtn {
		// 	display: none;
		// } 
		&.open {
			width: 100%;
			/* Toggles should be handled with state or props */
			// .search-form-block-container, #closeSearchBtn {
			// 	display: block;
			// } 
			@include breakpoint(sm) {
				width: calc(100% - (3rem + 300px));
			}
		}
	}
}
