
/*--------------------
# Header
---------------------*/
@import "header";
@import "footer";
/*--------------------
# Footer
---------------------*/
/* @import "footer"; */
/*--------------------
# main Content
---------------------*/
@import "page";

/*--------------------
# Archive
---------------------*/
@import "archive";

body{
	// important for Utility footer
	position: relative;
	// padding: $site_gutter;
	// padding-bottom: $utility_footer_height;
	min-height: 100vh;
// 	overflow-x:hidden;
}

//site structure

#main-content{
// 	padding: $v-rhythm;
	margin-top:$fixed-header-height;
	width:100%;
	max-width:100%;
}

#content-area{
	margin: 0 auto;
	@include flexss-content;
}

#site-content{
	position:relative;
}

/* Wordpress Admin Bar Fix */
body.admin-bar{
	$admin-bar-height: 32px;
	
	#newhouse-app,
	.app-header{
		margin-top: $admin-bar-height;
	}
}