.accordion-container{
	border-top: 1.5px solid $color__newhouse_gray;
	
	&:last-of-type{
		border-bottom: 1.5px solid $color__newhouse_gray;
	}
}

.accordion-block{
	.accordion-header{
		display:flex;
		justify-content: space-between;
		align-items: center;
		padding:0 $h-rhythm;
		background-color: $color__gray-light;
		transition: background-color .25s;
	}
	.accordion-content{
		height:0;
		transform: translateY(100%);
		overflow:hidden;
		padding:0;
		margin:0;
		transition: height 1s;
	}

	.accordion-title{
		// this fixes the gutenberg editor so tha the title is selectable
		min-width: 4ch;
	}

	.accordion-toggle{
		display:block;
		background-color: unset;
		font-size: 1.5rem;
		font-weight:600;
		min-width: 6ch;
		text-align: right;
		color: $color__black;
		// padding-right:2ch;
	}

	&.active{
		.accordion-header{
			background-color: unset; 
		}
		.accordion-content{
			height:auto;
			transform: translateY(0%);
			padding:$v-rhythm $h-rhythm;
		}
	}
}