#action-footer{
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#action-bar{
	display: flex;
	width: 100%;
	min-height:4rem;
}

.action-item{
	max-width: 33.33%;
	flex-grow: 1;
	text-align: center;
	border:1px solid gray;
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}