// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
button.nh-btn,
.btn {
	display: inline-flex;
	padding: 1rem 1.25rem;
	font-weight: bold;
	font-family: $font__main;
	border: 0;
	background-color: inherit;
	transition: all 0.5s;
	text-decoration: none;
	background-color: $color__tertiary;
	color: $color__white;
	&:hover,
	&:focus {
		background-color: $color__tertiary-dark;
	}
	
	// states
	&:disabled {
		opacity: 0.4;
	}
	&:hover,
	&:focus {
		cursor: pointer;
		background-color: rgba(0, 0, 0, 0.1);
	}
	
	// button types
	&.btn-primary {
	  font-size: 1.2rem;
	  line-height: 1.2rem;
	}
	&.btn-default {
	  font-size: 1rem;
	  line-height: 1rem;
	}
	&.btn-small {
	  font-size: 0.75rem;
	  line-height: 0.75rem;
	  text-transform: uppercase;
	  padding: .5rem;
	}

	&.aligncenter{
		display: table;
		margin-left:auto;
		margin-right:auto;
	}
	// button colors
	// &.is-style-default,
	// &.btn-gray {
	 
	// }
	&.btn-orange {
	  background-color: $color__primary;
	  color: $color__white;
	  &:hover,
	  &:focus {
		background-color: $color__primary-dark;
	  }
	}
	&.btn-nhblue {
	  background-color: $color__secondary;
	  color: $color__white;
	  &:hover,
	  &:focus {
		background-color: $color__secondary-dark;
	  }
	}
	// outlines
	&.is-style-outline,
	&.is-style-pill-outline,
	&.btn-outline-default {
	  border: 1px solid $color__tertiary;
	  color: $color__black;
	  background-color: inherit;
	  &:hover,
	  &:focus {
		background-color: $color__tertiary;
		color: $color__tertiary-comp;
	  }
	}

	&.is-style-pill-outline.btn-orange,
	&.btn-outline-orange {
	  border: 1px solid $color__primary;
	  color: $color__primary;
	  background-color: $color__tertiary-comp;
	  &:hover,
	  &:focus {
		background-color: $color__primary;
		color: $color__primary-comp;
	  }
	}
	&.is-style-pill-outline.btn-nhblue,
	&.btn-outline-nhblue {
	  border: 1px solid $color__secondary;
	  color: $color__secondary;
	  background-color: $color__tertiary-comp;
	  &:hover,
	  &:focus {
		background-color: $color__secondary;
		color: $color__secondary-comp;
	  }
	}

	&.is-style-pill-outline.btn-white,
	&.btn-outline-white {
	  border: 1px solid $color__white;
	  background-color: inherit;
	  color: $color__white;
	  &:hover,
	  &:focus {
		background-color: $color__white;
		color: $color__black;
	  }
	}
	&.btn-outline-black {
	  border: 1px solid $color__black;
	  color: $color__black;
	  &:hover,
	  &:focus {
		background-color: $color__black;
		color: $color__white;
	  }
	}

	// btn pill
	&.is-style-pill,
	&.is-style-pill-outline,
	&.btn-pill {
	  border-radius: 3.2rem;
	  padding: 1rem 3rem;
	  text-align: center;
	}

	svg{
		fill: currentColor;
	}
  }
  
  .btn-group{
	  display: flex;
	  justify-content: space-evenly;
  }