.byline-container{
	display:flex;
	padding: .5rem 0;

	.profile-img-container{
		// max-width: 20%;
		width: 100px;
		height: 100px;
		position: relative;
		overflow: hidden;
		border-radius: 50%;
		margin-right: $h-rhythm;

		img{
			position: absolute;
			top: 0;
			left: 0;
			min-width:100%;
			width:auto;
			min-height:100%;
			height:auto;
		}
	}

	.person-info{
		display: flex;
		flex-direction: column;

		.person-name{
			margin-bottom:.5rem;
		}
	}
}