.content-feed {
	display: flex;
	padding: $v-rhythm $h-rhythm;
	flex-wrap: wrap;
	.card {
		display: flex;
		flex-direction: column;
		padding: $v-rhythm 0;

		.card-img-container {
			position: relative;
			width: 100%;
			img {
				width: 100%;
				height: auto;
			}
		}

		.card-body-container {
			padding: $v-rhythm $h-rhythm;
			flex:1;
		}

		&.row {
			flex-direction: row;
			align-items: center;

			.card-media{
				flex-basis: 40%;
			}
		}

		&.column {
			flex-direction: column;

			.card-media{
				max-height: 50%;
				overflow:hidden;
			}
		}
	}

	&[class*='background-color']{
		.card{
			background-color: $color__white;
			color: $color__black;
			padding: $v-rhythm $h-rhythm;
		}
	}
	
	&.grid {
		.grid-container{
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
		}	
		.card {
			max-width: calc(33.33% - calc(2 * #{$v-rhythm}));
			min-width: calc(33.33% - calc(2 * #{$v-rhythm}));
			padding: $v-rhythm $h-rhythm;
			margin: $v-rhythm;
		}
	}

	&.masonry{
		$spacing: .25rem;	
		.masonry-grid {
			width: 100%;
			position: relative;
			.card {
				margin: $spacing;
				width: calc(100% - (2 * #{$spacing}));
				@include breakpoint(sm) {
					width: calc((100% - (4 * #{$spacing}))/2);
				}
				@include breakpoint(md) {
					width: calc((100% - (6 * #{$spacing}))/3);
				}
			}
		}
	}

	&.list {
		// @include flexss-content;
		flex-direction: column;
		align-content: center;
		align-items: flex-start;

		.card {
			width: 100%;
			max-width: $written_max_ch;
			align-items: flex-start;
			margin:$v-rhythm auto;
		}
	}

	.feed-title{
		text-align: center;
		width:100%;
	}

	
	.media-card {
		position: relative;
		min-width: 33.33%;

		.caption {
			position: absolute;
			padding: 1rem;
			bottom: 0;
			left: 0;
			width: 100%;
			height: auto;
			color: $color__white;
			background: $color__overlay_dark;
			font-size: 0.8rem;
		}
	}
	@import 'slider';
}

/* Specific Feeds */
@import 'twitter-feed';
@import 'instagram-feed';
