form {
	//background-color: #ccc;
	font-family: $font__main;
	.form-group {
	  &.form-row {
		@include breakpoint(sm) {
		  display: flex;
		}
		.form-col {
		  width: 100%;
		  margin-right: 1rem;
		  &:last-child {
			margin-right: 0;
		  }
		}
	  }
	  .form-radio-group {
		@include breakpoint(sm) {
		  display: flex;
		}
		.form-radio-item {
		  margin-right: 2rem;
		  .form-radio-label {
			display: inline;
		  }
		  .form-radio-input {
			display: inline;
			margin-right: 0.5rem;
			&:disabled {
			  opacity: 0.5;
			  & ~ .form-radio-label {
				color: $color__tertiary-light;
			  }
			}
		  }
		}
	  }
	  .form-checkbox-group {
		@include breakpoint(sm) {
		  display: flex;
		}
		.form-checkbox-item {
		  margin-right: 2rem;
		  .form-checkbox-input {
			display: inline;
			margin-right: 0.5rem;
			&:disabled {
			  opacity: 0.5;
			  & ~ .form-checkbox-label {
				color: $color__tertiary-light;
			  }
			}
		  }
		  .form-checkbox-label {
			display: inline;
		  }
		}
	  }
	  .form-select {
		width: 100%;
		padding: 0.375rem 1.75rem 0.375rem 0.75rem;
		font-size: 1.2rem;
		display: block;
	  }
	  margin-bottom: 2rem;
	  label {
		display: block;
		margin-top: 1rem;
		margin-bottom: 0.5rem;
		font-size: 0.8rem;
		font-weight: bold;
	  }

	  .form-input-field {
		width: 100%;
		display: block;
		background-color: $color__white;
		color: $color__font-primary;
		padding: 1rem;
		box-sizing: border-box;
		border: 1px solid $color__tertiary-light;
		border-radius: 3.2rem;
	  }

	  .form-textarea {
		width: 100%;
		display: block;
		background-color: $color__white;
		color: $color__font-primary;
		padding: 1rem;
		box-sizing: border-box;
	  }
	}
  }

input[type="text"],
input[type="search"]{
	width: 100%;
	display: block;
	background-color: $color__white;
	color: $color__font-primary;
	font-family: $font__main;
	font-size: 1rem;
	line-height: 1.5;
	padding: .25rem 1rem;
	border: 1px solid $color__tertiary-light;
	border-radius: 3.2rem;
}

.field-wrapper{
	position: relative;

	.delete{
		position: absolute;
		right: .65rem;
		top: 50%;
		color: $color__alert-font;
		background: none;
		border: none;
		font-weight: bold;
		font-size: .85rem;
		cursor: pointer;
		border-radius: 50%;

		&:hover,
		&:focus{
			color: $color__white;
			background: $color__alert-font;
		}
	}
}