.hero{
	width: 100vw;
	max-height: 50vw;
	background-color: $color__gray;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	overflow: hidden;
	margin-bottom: $v-rhythm;
	.hero-media {
		width:100%;
		height:100%;
		position: relative;
		top:0;
		left:0;
		z-index: 1;
		img{
			width:100%;
			height:auto;
		}
		&:after{
			content:'';
			display:block;
			width:100%;
			height:100%;
			position:absolute;
			top:0;
			left:0;
			background-color:$color__overlay;
			z-index:2;
		}
	}
	.hero-content {
		width: 100%;
		position: absolute;
		top: 50%;
		left: 0;
		z-index: 3;
		transform: translate(0,-25%);
		color:$color__white;
		text-align:center;
		.hero-content-container {
			@include flexss-content;
		}
		.hero-title,
		.hero-excerpt{
			text-align: center;
			color: inherit;
			p {
				text-align: center;
			}
		}
	}
}
.wp-block {
	.hero {
		min-height: 50vw;
		max-height: 50vw;
	}
}
