.region-social-media {
	.feed-left {
		background: rgb(20,0,200);
		background: linear-gradient(0deg, rgba(20,0,200,1) 0%, rgba(185,0,180,1) 100%);
		color: $color__white;
		position: relative;
		overflow: hidden;
		.feed-left-content {
			padding: 2rem;
		}
		&:after {
			content: "\f12d";
			font-family: "dashicons";
			color: rgba(255,255,255,.1);
			font-size: 20rem;
			position: absolute;
			top: 50%;
			right: -25%;
			z-index: 1;
			transform: translate(0,-50%);
		}
	}
	.feed-right {
		.instagram-card {
			width: 100%;
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center center;
			position: relative;
			&:before {
				content:'';
				display: block;
				width: 100%;
				height: 100px;
				background: rgb(0,0,0);
				background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
				position: absolute;
				bottom: 0;
				left: 0;
				z-index: 1;
				opacity: .7;
			}
			&:after {
				content: "";
				display: block;
				padding-bottom: 100%;
			}
			.instagram-data {
				width: 100%;
				padding: 1rem;
				box-sizing: border-box;
				position: absolute;
				bottom: 0;
				left: 0;
				z-index: 2;
				color: $color__white;
				display: flex;
				justify-content: space-between;
				p {
					margin: 0;
					min-width: auto;
					max-width: auto;
					width: 100%;
					display: flex;
					justify-content: space-between;
					flex-direction: row-reverse;
					font-size: .75rem;
					span.dashicons {
						color: $color__newhouse-orange;
						margin-right: .3rem;
					}
				}
			}
			.instagram-link {
				width: 100%;
				height: 0;
				position: absolute;
				bottom: 0;
				left: 0;
				z-index: 3;
				background-color: $color__newhouse-orange;
				display: flex;
				align-items: center;
				transition: all .5s;
				a {
					color: $color__white;
					font-weight: bold;
					text-align: center;
					width: 100%;
					display: none;
				}
			}
			&:hover, &:focus {
				.instagram-link {
					height: 100%;
					a {
						display: block;
					}
				}
			}
		}
	}
	@include breakpoint(sm) {
		display: flex;
		.feed-left {
			min-width: 25%;
			max-width: 25%;
			display: flex;
			align-items: center;
		}
		.feed-right {
			min-width: 75%;
			max-width: 75%;
			.instagram-card {
				width: calc(100% / 2);
			}
		}
	}
	@include breakpoint(md) {
		.feed-right {
			.instagram-card {
				width: calc(100% / 3);
			}
		}
	}
}
