ul.nav-list {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 100%;

	&.vertical{
		flex-direction: column;
	}
	
	&.left-align{
		align-items: flex-start;
		.menu-item{
			text-align: left;
		}
	}

	@include breakpoint(sm) {
		flex-direction: row;
	}

	li.menu-item {
		border-bottom: 4px solid $color__white;
		width: 100%;
		text-align: center;
		
		@include breakpoint(sm) {
			width: auto;
		}
		
		a {
			padding: 0.75rem;
			min-width: 100%;
			display: block;
			color: inherit;
			text-decoration: none;
			font-weight: bold;
			color: $color__font-light;
			
			&:hover,
			&:focus {
				color: $color__primary-comp;
				background-color: $color__primary;
			}
		}
		
		.active {
			border-bottom: 4px solid $color__primary;
			color: $color__black;
		}
		
		&:hover {
			border-bottom: 4px solid $color__primary;
			
			a {
				color: $color__primary-comp;
			}
		}

		ul.sub-menu {
			margin-top: $v-rhythm;
			flex-direction: column;
			align-items: flex-start;
			
			li.menu-item {
				
				a {
					font-weight: 400;
				}
			}
		}
	}

	&.nav-list-primary {
		display: none;
		
		@include breakpoint(sm) {
			display: flex;
		}
	}

	&.nav-list-secondary {
		border-bottom: 1px solid $color__gray;
		margin-bottom: 1rem;
	}

	&.nav-list-footer,
	&.nav-list-modal {
		
		li.menu-item {
			border: 0;
			a {
				color: $color__white;
			}
		}
	}
}

#main-site-nav {
	min-width: 25ch;
	max-width: 80%;
	flex-grow: 1;
}

#site-nav {
	width: 100%;
}

#site-footer-nav{
	.nav-list{
		align-items: flex-start;
	}

	.menu-item{
		text-align:left;
		font-size: .95rem;
	}

	.sub-menu{
		margin-top:0;
	}

}