// position is not fixed anymore so it is relative to closest relative parent which is 4 rem down
$modal-top-offset: 0;

.modal{
    position:absolute;
    top:$modal-top-offset;
    left:0;
    width:100vw;
    min-height:100vh;
    z-index:100;
    display:flex;
    flex-direction:column;
//     justify-content:center;
    align-items:center;
	
	.logo{
		max-width: 250px;;
	}
        
    &.hidden{
        height:0;
        width:0;
        display:none;
	}
	
	.modal-content{
		z-index: 110;
		background-color:$color__secondary;
		color: $color__secondary-comp;
    	position: relative;
//     	top: 4rem;
    	min-width: 95vw;
    	min-height: calc(95vh - #{$modal-top-offset});
//     	height:100%;
    	padding: calc(#{$h-rhythm} * 4);
    	display: flex;
		flex-direction: column;
		align-items: center;
	}

	.modal-close{
		position:absolute;
		top:1.5rem;
		right:1.5rem;
		background-color: $color__black;
		color:$color__secondary-comp;
		border-radius:50%;	
		font-size: 2.5rem;
		font-weight: 100;
		width: 3rem;
		height: 3rem;
		line-height: 3rem;
		cursor:pointer;
		border: 1px solid $color__gray;

		&:hover,
		&:focus{
			color: $color__black;
			background-color:$color__secondary-comp;
		}
	}

	.modal-overlay{
		content: "";
		display: block;
		position: fixed;
		z-index: -1;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		background-color: rgba(0, 0, 0, 0.85);
	}
}
/* 
#guide-modal{
    height:100%;
    display:flex;
    flex-direction:column;
//     justify-content:center;
    align-content:center;

    button{
        margin:2rem auto;
    }
} */