.branding-bar {
	background-color: $color__tertiary-light;
	color:$color__tertiary;
	padding: .25rem 1.5rem;
	display: flex;
	justify-content: space-between;
	align-content:center;
	height: 2rem;
	border-bottom:.5px solid $color__tertiary;

// 	&.collapse{
// 		padding:0;
// 		max-width:30ch; //Variable?
// 		overflow: hidden;

// 		*:not(.logo-link):not(.logo){
// 			width:0;
// 		}

// 		.logo-link:after{
// 			content:'>';
// 			display: inline-block;
// 			color: white;
// 			font-size: 1.5rem;
// 			z-index: 100;
// 			width: 4ch !important;
// 			height: 1rem;
// 		}
// 	}

	button{
		background-color:inherit;
		color:inherit;
		display:block;
		padding:.25rem;
		cursor:pointer;
		&:hover,
		&:focus{
			color:$color__primary;
		}
	}

	.dashicons{
		height: 1.25rem;
		width: 1.25rem;
		font-size: 1.25rem;
		line-height: 1;
	}
	.logo {
		justify-self: flex-start;
		// flex: 1;
		// margin-left: 1rem;

		img{
			height:100%;
			width:auto;
		}
	}

	.logo-link{
		margin-left: 1rem;
		margin-right: auto;
		min-height: 100%;
		min-width: 200px;
	}
}

#utility-footer{
	// position: absolute;
	// bottom:0;
	// left:0;
	min-height:4rem;
	max-height: calc(#{$utility_footer_height} - 1rem);
	width:100vw;
	max-width:100%; 
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: $color__newhouse_dark_gray;
	color:$color__newhouse_gray;
	padding:.5rem 1rem;

	.copy{
		display: block;
		max-width: 40rem;
		text-align:center;
	}

	.utility-link-list{
		display:flex;
		justify-content: center;
		height: 2rem;
		align-content: center;
	}

	.utility-link{
		a{
			font-size: 1rem;
			line-height:2rem;
			text-decoration: none;
			color:inherit;
			background-color: inherit;
			padding:0 1rem;

			&:hover,
			&:focus{
				color: $color__white;
				border-bottom: 1px dotted $color__white;
			}
		}
	}
}