.person-profile{
// 	background-color: lightblue;

	.profile-img-container{
		width:400px;
		height:400px;
		border-radius:50%;
		overflow: hidden;
		margin: 0 auto;
	}

	.form-section{
		display:flex;
		flex-direction:column;
		align-content:center;
	}

	.form-row{
		display:flex;
		justify-content:space-between;
	}

	.components-base-control{
		margin: .25rem .5rem;

		label:{
			color:$color__font-light;
		}
	}
}

