#search-modal{
	min-width: 100%;
	border-bottom:1px solid $color__white;
	display: flex;
	justify-content: center;
	padding: calc(2 * #{$v-rhythm});
	position: relative;
	flex-direction: column;

	input[type='search']{
		max-width: 40ch;
		padding-left:4ch;
		margin: 1rem auto;
	}

	.search-button{
		font-size: 1rem;
		line-height: 1.5;
		display: block;
		background-color: unset;
		color: $color__gray;
		margin: unset;
		padding: unset;
		position:absolute;
		top:calc(2 * #{$v-rhythm} + .5rem);
		// left:calc(20ch - 50%);
		left:calc(50% - 22ch);
		cursor: pointer;
	}

	.card{
		border:1px solid $color__newhouse_blue-dark;
	}
}

#results-container{
	// overflow-y:scroll;
}

.form-filters{
	max-width: 80ch;
	margin: 0 auto;

	h4{
		margin:.25rem;
	}
}

#search-filters{
	display:flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	margin: .5rem;
	
	.filters{
		display: flex;
		justify-content: space-between;
	}

	.filter-field{
		display:flex;
		flex-direction: column;
		justify-content: space-between;
		margin: 1rem;
	}
	.filter-field-label{
		font-size:.85rem;
	}
	input[type=text],
	input[type=number],
	select{
		height: 1.75rem;
		font-size: .85rem;
	}

	option:disabled{
		font-size: smaller;
		font-weight: 100;
	}
}

#display-filters{
	display: flex;
    flex-direction: column;
    align-items: center;
	.btn-group{
		width:100%;
		display:flex;
		justify-content: space-between;
	}
	.btn{
		padding:.5rem;
		.dashicons{
			margin-right:.5rem;
		}
	}
}