&.slider {
	padding: 1rem 0;
	.slider-container{
		$controller-width: 40px;
		$indicator-height: 60px;

		width: 100%;
		position: relative;

		.dashicons{
			color:$color__black;
			font-weight:600;
			font-size: inherit;
			display:block;
			cursor: pointer;
			transition: all .5s;
			&:hover, &:focus, &.active {
				color:$color__newhouse_orange;
			}
		}

		
		.slider-window-crop {
			width: 100%;
			height: 600px;
			position: relative;
			overflow: hidden;
			/* &:after {
				content:'';
				position: absolute;
				bottom: 0;
				right: 0;
				z-index: 10;
				width: 100px;
				height: 100%;
				background: rgb(255,255,255);
				background: linear-gradient(270deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
			} */
			.slider-window{
				position: absolute;
				top:0;
				left: 0;
				display: flex;
				transition: all .5s;
				width: 100%;
				height: 600px;
				.card{
					width: 100%;
					height: 600px;
					position: relative;
					// &:after {
					// 	content:'';
					// 	position: absolute;
					// 	bottom: 0;
					// 	left: 0;
					// 	z-index: 10;
					// 	width: 100%;
					// 	height: 100px;
					// 	background: rgb(255,255,255);
					// 	background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
					// }
					.linkHoverBox {
						width: 100%;
						height:0;
						z-index: 20;
						background-color: $color__newhouse_orange;
						position: absolute;
						bottom: 0;
						left: 0;
						transition: all .5s;
						display: flex;
						align-items: center;
						overflow: hidden;
						a {
							color: white;
							display: block;
							width: 100%;
							text-align: center;
							font-size: 1.2rem;
							font-weight: bold;
							.dashicons {
								display: inline-block;
								color: white;
							}
						}
					}
					&:hover, &:focus {
						.linkHoverBox {
							height: 100%;
						}
					}
					@include breakpoint(sm) {
						width: 400px;
					}
				}
			}
		}
		

		.slider-indicator-control{	
			position: relative;
			width: 100%;
			height:$indicator-height;
			padding: .25rem $controller-width;
			display: flex;
			justify-content: center;
			align-items: center;
			z-index: 20;
			font-size: 20px;
			border-top: 1px solid $color__gray;
			background-color: $color__white;
			.dashicons {
				margin: .5rem;
			}
			.slider-control{
				position:absolute;
				height: 100%;
				width: 3rem;
				z-index: 30;
				display: flex;
				flex-direction: column;
				justify-content: center;
				top:0;
				font-size: 40px;
				background-color: $color__newhouse_orange;
				transition: all .5s;
				&.left-control{
					left:0;
				}

				&.right-control{
					right:0;
				}

				.dashicons{
					width: $controller-width;
					height: $controller-width;
					color: $color__white;
				}
				&:hover, &:focus {
					background-color: $color__newhouse_orange-dark;
				}
			}
		}
	}
}
