.social-links{
	display: flex;
	align-content: center;
	height: 100%;
	align-self: center;

	li{
		font-size: unset;
	}
}

.social-link{
	padding: .25rem;
	margin-left:$h-rhythm;
	display: block;

	&:last-of-type{
		padding-right:0;
	}

	&:hover,
	&:focus{
		color:$color__primary;
	}

	.social-links-icons{
		font-size: 1.75rem;
		width: unset;
		height: unset;
	}
}