.twitter-feed {
	display: flex;
	height: 600px;

	.feed-info {
		$info-color: $color__newhouse_blue-light;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-content: center;
		background-color: $info-color;
		color: $color__white;
		max-width: 25%;
		height: 100%;
		text-align: center;
		padding: $v-rhythm $h-rhythm;

		.feed-title {
			color: inherit;
		}

		.btn {
			background-color: inherit;
			display: block;
			text-align: center;
			&:focus,
			&:hover {
				color: $info-color;
				background-color: $color__white;
			}
		}
	}

	.tweet-feed {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		flex: 1;
	}

	.tweet {
		display: flex;
		min-height: 25%;
		max-width: 45%;
		align-content: center;
		padding: 1rem;

		.logo {
			min-width: 100px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			padding: 0.5rem;

			.logo-container {
				min-width: 48px;
				min-height: 48px;
				// border: 1px solid black;
				border-radius: 50%;
				overflow: hidden;
			}

			img {
				width: 100%;
				height: auto;
			}
		}

		.tweet-info {
			display: flex;
			flex-direction: column;
			padding: 0.5rem;
		}

		.user {
			display: flex;
			justify-content: flex-start;

			.user-name {
				font-weight: 600;
			}
			.user-handle {
				color: $color__font-light;
				margin-left: $h-rhythm;
			}
			.created-on {
				margin-left: $h-rhythm;
			}
		}
		.tweet-content {
			font-size: 0.95rem;
			line-height: 1.25;
			margin: $v-rhythm 0;
		}
	}
}