// Color variables are declared here. Assignment to theme variables occurs on the variables.scss
// Newhouse brand colors do not change
//Primary
$color__newhouse_orange:#D44500;
$color__newhouse_orange-light:#e54d00;
$color__newhouse_orange-dark:#a93700;

//Secondary
$color__newhouse_blue:#618DAF;
$color__newhouse_blue-light:#6cbaff;
$color__newhouse_blue-dark:#2e567e;

$color__newhouse_gray:#ADB3B8;
$color__newhouse_dark_gray:#3E3D3C;

//grays
//Tertiary
$color__gray: #6c757d;
$color__gray-light: #e8eaeb;
$color__gray-dark: #4d4d4d;

// Site Colors
$color__white:#fff;
$color__black:#000;


// colors
// $color__red: #D0021B;
// $color__blue:#4A90E2;
// $color__blue-dark:#3E75B5;

$color__success: #dff0d8;
$color__success-font: #3c763d;
$color__waiting: #d9edf7;
$color__waiting-font: #31708f;
$color__warning: #fcf8e3;
$color__warning-font: #8a6d3b;
$color__alert: #f2dede;
$color__alert-font: #a94442;

//Color pallette
$variation-amount : 20%;
//TODO Primary color is used(?)
// buttons
// $color__primary: $color__blue;
// // compliment color mostly used for text placed over primary color
// $color__primary-comp: $color__newhouse_orange;

// $primary-colors: (
// 	"base": $color__primary,
// 	"dark": darken($color__primary, $variation-amount),
// 	"light": lighten($color__primary, $variation-amount),
// 	"text": complement($color__primary),
// );

// //TODO secondary is used(?)
// $color__secondary: $color__red;
// $color__secondary-comp:$color__white;
// $secondary-colors: (
// 	"base": $color__secondary,
// 	"dark": darken($color__secondary, $variation-amount),
// 	"light": lighten($color__secondary, $variation-amount),
// 	"text": complement($color__secondary),
// );

//TODO tertiary is used(?)
//$color__tertiary:;

// $color__background: $color__white;
// $color__background-contrast: $color__newhouse_dark_gray;

// Font Colors
// font-primary is global declaration and default for the whole site
// $color__font-primary: $color__black;
// // font-light is for subdued text
// $color__font-light: $color__gray;

// // font-headings & copy should default to primary
// $color__font-headings: $color__font-primary;
// $color__font-copy: $color__font-primary;

// $color__font-contrast: $color__white;
// $color__font-contrast-h: $color__primary-comp;



// // Overlays
// $color__overlay: rgba(45, 45, 45, 0.5);
// $color__overlay-dark: rgba(0, 0, 0, 0.85);

// Shadows
$box_shadow__accessible:0 0 2px 2px rgba(0, 0, 0, 0.6);
$shadow_card: 10px 10px 0px rgba(0,0,0,.2);