// abbrv [xs]
// $phone__width: 20em;
$phone__width: px-to-em(320px);
// abbrv [sm] 
// $tablet__width: 38em;
$tablet__width: px-to-em(600px);
// abbrv [md] 
// $laptop__width: 64em;
$laptop__width: px-to-em(1024px);
// abbrv [lg] 
// $desktop__width: 80em;
$desktop__width: px-to-em(1280px);

$rem__phone:12;
$rem__tablet:14;
$rem__laptop:16;