// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// Edit variables here for site wide changes
// -----------------------------------------------------------------------------

// Import static variable sets here
@import "colors"; // declarations only
@import "fonts"; // Includes only @font-face declarations
@import "icons";
@import "media-queries";

// -----------------------------------------------------------------------------
// Site wide Color Variables
// Colors cascade through the site based on primary and secondary choices
// -----------------------------------------------------------------------------

$color__primary: $color__newhouse_orange;
$color__primary-light: $color__newhouse_orange-light;
$color__primary-dark: $color__newhouse_orange-dark;
// compliment color mostly used for text placed over primary color
$color__primary-comp: $color__white;

$color__secondary: $color__newhouse_blue;
$color__secondary-light: $color__newhouse_blue-light;
$color__secondary-dark: $color__newhouse_blue-dark;
$color__secondary-comp:$color__white;

$color__tertiary: $color__gray;
$color__tertiary-light: $color__gray-light;
$color__tertiary-dark: $color__gray-dark;
$color__tertiary-comp:$color__white;

$color__background: $color__white;
$color__background-contrast: $color__black;

// -----------------------------------------------------------------------------
// Font Color Variables
// -----------------------------------------------------------------------------

// font-primary is global declaration and default for the whole site
$color__font-primary: $color__black;
// font-light is for subdued text
$color__font-light: $color__gray;

// font-headings & copy should default to primary
$color__font-headings: $color__font-primary;
$color__font-copy: $color__font-primary;

$color__font-contrast: $color__white;
$color__font-contrast-headings: $color__primary-comp;

// ! Important: default colors used for accessibility do not change unless contrast ratio of both are verified
//Accessible fonts
$color__background-screen: #f1f1f1;
$color__text-screen: #21759b;

// -----------------------------------------------------------------------------
// Component Color Variables
// -----------------------------------------------------------------------------

// Buttons
$color__bg-button: $color__primary;
$color__bg-button-hover: $color__primary-comp;

// Overlays
$color__overlay: rgba(45, 45, 45, 0.5);
$color__overlay-dark: rgba(0, 0, 0, 0.85);



// -----------------------------------------------------------------------------
// Site wide Fonts Variables
// -----------------------------------------------------------------------------
$font__headings-primary: "ShermanSerif", Georgia, serif;
$font__headings-secondary: "ShermanSans", "Trebuchet MS", Tahoma, sans-serif;
$font__main: "ShermanSans", "Trebuchet MS", Tahoma, sans-serif;
$font__icons: dashicons;

//media queries need to be in em
$written_max_width: 43em;
$written_max_ch: 80ch;

// -----------------------------------------------------------------------------
// Animation Variables
// -----------------------------------------------------------------------------
$transition__quick: all .5s;
$transition__normal: all 2.5s;

// -----------------------------------------------------------------------------
// URL Variables
// -----------------------------------------------------------------------------
// string withing url e.g. "\"guidebooks.newhouse\"'
// ! urls for styling local vs outbound links 
$local_url: "\"128.230.222.181\""; //local machine url
$dev_url: "\"ncc.newhouse.syr.edu\"";
$site_url: "\"ncc-tst.newhouse.syr.edu\"";

// -----------------------------------------------------------------------------
// Site wide Layout Variables
// -----------------------------------------------------------------------------
$v-rhythm: 1rem;
$h-rhythm: 1.5ch;
$site_gutter: #{$h-rhythm * 2};
$utility_footer_height: 7rem;
// --------------
// Scrollbar width hack for elements that are 100vw
//

$scrollbar-width: 20px;
$window-width: calc(100vw - #{$scrollbar-width});
$content-margin: calc(50% - calc(#{$window-width} / 2));
$content-half-margin: calc(#{$content-margin}/2);

$fixed-header-height: 5rem;