// -----------------------------------------------------------------------------
// This file contains base heading typographic settings
// Specific overrides and special classes should be used here
// -----------------------------------------------------------------------------

body{
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	//Important to set base font-family and size to copy for font-size scale to be uniform
	font-family: $font__main;
	//Rem refers to the root element and scales with HTML
	font-size: 1rem;
	color:$color__font-primary;
}

strong{
	font-weight:bold;
}

blockquote,
q{
	position: relative;
	margin: 1.5rem;
	font-size: 1.2rem;
	line-height:1.333;
    font-style: italic;
  	border-top: 1px solid $color__primary;
  	border-left: unset;
//     color: darkgrey;
    quotes: "\201C""\201D""\2018""\2019";
    padding: 1rem 2rem 1rem 2.5rem;
    clear: both;

    &:before{
		color: $color__primary;
		content: '';
		background-image: url("../img/quote-left-solid.svg");
		background-repeat: no-repeat;
		width: 3.5ch;
    	height: 2rem;
		position: absolute;
		top: -1rem;
		left: 0;
		background-color:white;
    }

    p{
    	font-style:inherit;
    }

}

p {
	max-width:100%;
	margin: 0 auto $v-rhythm 0;
	font-size: 1rem;
	font-weight: normal;
	line-height: 1.4;
	text-align:left;
	word-break:break-word;
	min-width: 20ch;
	color:inherit;
	&.aligncenter{
		text-align:center;
	}
}

figcaption,
.timestamp,
.disclaimer{
	font-size: .85rem;
	font-style: italic;
	color: $color__gray;
}
// Todo create typographic baseline for other elements
// em{

// }

// code,
// pre{

// }

// sub{

// }

// sup{

// }

// Special Classes
