// -----------------------------------------------------------------------------
// This file contains base heading typographic settings
// Specific overrides and special classes should be used here
// -----------------------------------------------------------------------------

/* Headings */

h1 {
	font-weight: 300;
	font-size: 2rem;
	@include breakpoint(sm) {
		font-size: 2.5rem;
	}
	@include breakpoint(md) {
		font-size: 3rem;
	}
}

h2 {
	font-weight: normal;
	font-size: 1.2rem;
	@include breakpoint(sm) {
		font-size: 1.7rem;
	}
	@include breakpoint(md) {
		font-size: 2rem;
	}
}

h3 {
	font-weight: bold;
	font-size: 1.1rem;
	margin-top: 2rem;
	@include breakpoint(sm) {
		font-size: 1.2rem;
	}
	@include breakpoint(md) {
		font-size: 1.3rem;
	}

	&.section-label {
		color: $color__primary;
	}
}

h4 {
	font-size: 1rem;
	font-weight: bold;
	margin-top: 1rem;
}

h5 {
	font-size: 0.85rem;
	font-weight: normal;
	font-style: italic;
	margin-top: 1rem;
	&.editors-note {
		background-color: $color__gray-light;
		padding: 2rem;
	}
}

h6 {
	font-size: 0.6rem;
	font-weight: normal;
}

// Special Classes below
