// todo: ask Tim about this
a:not(.btn){
	text-decoration: none;
	color:$color__secondary;
	background-color: inherit;
	cursor: pointer;

	&:hover,
	&:focus,
	&:active{
		text-decoration: underline;
		color:$color__primary;
	}

	.dashicons{
		font-size: inherit;
		text-decoration: none;
	}
}
