// todo: ask Tim what this is about?
/*
li:not(.blocks-gallery-item){
	font-size: 1rem;
	line-height: 1.4;
	padding-left: .5rem;
	font-weight: normal;
	margin: .5rem 0;
}
*/
ul:not(.wp-block-gallery):not(.nav-list):not(.blocks-gallery-grid) {
	padding: 0.5rem 1rem;

	li {
		position: relative;

		&:before {
			width: 0.5rem;
			height: 1rem;
			content: "";
			position: absolute;
			top: 5px;
			left: -12px;
			background-image: url("../img/angle-right-solid.svg");
			background-repeat: no-repeat;
		}
	}
}

ol {
	list-style-type: decimal;

	li {
		margin: 0.5rem 0 0.5rem 1rem;

		h4 {
			margin: 0;
			padding-top: 0.4rem;
			margin-bottom: 0.5rem;
			font-size: 1rem;
		}
	}
}
