// -----------------------------------------------------------------------------
// This file contains base typographic settings
// Theme variables should be used here.
// -----------------------------------------------------------------------------

// Em based media queries 
// base-font is 16px  

// This sets base units that rem's are based on.
// Using em's allows the user to still scale their font
html{
	@include breakpoint('xs'){
		font-size: .9em;
	}
	@include breakpoint('sm'){
		font-size: 1em;
	}
	@include breakpoint('md'){
		font-size: 1.1em;
	}
	@include breakpoint('lg'){
		font-size: 1.2em;
	}
}


// Baseline headings settings
h1,h2,h3,h4,h5,h6{
	// Unitless line height makes line height refer to elements font-size.
	line-height:1.25; 
// 	margin-top:#{($v-rhythm / 6)};
	margin-bottom:1rem;
	color: inherit;
	background-color: inherit;
	&.is-style-section{
		color:$color__primary;
	}
}

h1, h2{
	font-family: $font__headings-primary;
}

h3,h4,h5,h6{
	font-family: $font__headings-secondary;	
}

p{
    // font-family: $font__main; //Inherit from Body
    color: $color__font-copy;
    background-color: inherit;
}

@import "headings";
@import "copy";

//Name spacing the content lists to prevent style conflicts 
// ! using an id is too strong use class instead
.main-content{
	@import 'lists';
	@import 'links';
}
// Special classes

p.intro{
	font-size:1.2rem;
	line-height:1.6rem;
}
