/* Text colors */
.has-white-color{
	color: $color__white;
}

.has-orange-color{
	color: $color__newhouse_orange;
}

.has-orange-light-color{
	color: $color__newhouse_orange-light;
}

.has-orange-dark-color{
	color: $color__newhouse_orange-dark;
}

.has-blue-color{
	color: $color__newhouse_blue;
}

.has-blue-light-color{
	color: $color__newhouse_blue-light;
}

.has-blue-dark-color{
	color: $color__newhouse_blue-dark;
}

.has-gray-dark-color{
	color: $color__gray-dark;
}

.has-black-color{
	color: $color__black;
}

/* background colors */
.has-white-background-color{
	background-color: $color__white;
}

.has-orange-background-color{
	background-color: $color__newhouse_orange;
}

.has-orange-light-background-color{
	background-color: $color__newhouse_orange-light;
}

.has-orange-dark-background-color{
	background-color: $color__newhouse_orange-dark;
}

.has-blue-background-color{
	background-color: $color__newhouse_blue;
}

.has-blue-light-background-color{
	background-color: $color__newhouse_blue-light;
}

.has-blue-dark-background-color{
	background-color: $color__newhouse_blue-dark;
}
.has-gray-background-color{
	background-color: $color__newhouse_gray;
}

.has-gray-dark-background-color{
	background-color: $color__newhouse_dark_gray;
}

.has-black-background-color{
	background-color: $color__black;
}

/* Alignments */
/* Scroll bars screw up vw units*/
.has-text-align-center{
	text-align: center;
}

.alignfull {
	@include full-width;

	.alignwide,
	.alignfull{
		width: 100%;
		max-width: 100%;
		padding:$v-rhythm $h-rhythm;
		margin:0;
	}
}
  
.alignwide {
	@include wide-width;

	.alignwide,
	.alignfull{
		width: 100%;
		max-width: 100%;
		padding:$v-rhythm $h-rhythm;
		margin:0;
	}
}

/* Layout Elements */
.wp-block-group__inner-container{
	padding:$v-rhythm 0;
}

.wp-block-column{

	.wp-block-button.alignright{
		float:right;
	}

	.wp-block-button.alignleft{
		float:left;
	}

	.wp-block-button.aligncenter{
		margin-left:auto;
		margin-right:auto;
	}
}

// ! something buggy happens with columns and vertical alignments: its width grows beyond containing column
.wp-block-column.is-vertically-aligned-center{
	max-width: 100%;
}