// -----------------------------------------------------------------------------
// This file contains reset settings. 
// -----------------------------------------------------------------------------

/* Pull in vendor reset first so we can override as needed */
@import '../vendor/reset';


// Newhouse reset settings
html{
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

ol, ul{
    padding:0;
    margin:0;
    list-style:none;
    // font-size:0; // breaks admin layout
    li{
        font-size:1rem;
        word-wrap: break-word;
    }
}

h1,h2,h3,h4,h5,h6{
    padding:0;
	margin:0;
	color: inherit;
}

button{
    border:none;
    
    &:focus{
        outline:none;
    }
}

body, section{
    margin:0;
}

div, main, section{
    display:block;
}

iframe{
	max-width:100%;
}

a{
    text-decoration: none;
    color:inherit;
}
